body {
    line-height: 1.5;
    max-width: 960px;
    font-size: 1rem;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

header, footer {
    background-color: #285980;
    color: #fff;
    padding: 4px;
    text-align: center;
}


header img {
    width: 150px;
    margin: 10px;
}

main {
    padding: 20px;
}


h1, h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-size: 2rem;
    letter-spacing: .05em;
    margin: 10px;
}

h2 {
    font-size: 1.25rem;
}

ul li a {
   color: #285980; 
}

ul li a:hover {
    color:#686CCC;
}

footer {
    color: #fff;
    font-size: .5rem;
    font-weight: 600;
}

footer a {
    text-decoration: underline;
    color: #fff;
}

footer a:hover {
    color: #A7FFA1;
}

#updated {
    color: #fff661;
}