/* ----------- formatting home page -----------*/

h2 {
    margin-bottom: 15px;
}

section {
    display: block;
    padding: 15px 15px 0 15px;
}

div.cw {
    display: grid;
    grid-template-rows: 1fr;
}
.cw img {
    display: block;
    width: 100%;
    max-width: 300px;
    border-radius: 200px;
    margin: 10px auto;
}

.cw_info p {
    text-align: left;
}


/* --------- card formatting ----------- */


.cards article {
    background-color: #c4ead8;
    border: 1px solid #004F2A;
    justify-items: center;
    padding: 0;
    width: 100%;
    margin: 20px 0;
    border-radius: 50px 0 50px 0;
    
}

.cards article img {
    display: block;
    width: 100%;
    border-radius: 50px 0 50px 0;
}


h3 {
    text-align: center;
    font-size: 2rem;
    margin: 20px 0 0 0;
}

h4 {
    text-align: center;
    font-style: italic;
    margin: 5px 0 15px 0;
}

p {
    text-align: center;
    padding: 10px;
    margin: 0;
}



/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {

    .cw_info {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    article {
        margin: .2rem auto; 
        display: grid;
        grid-template-columns: 1fr 1fr;     
        justify-content: center;
        align-items: center;
    }
    
    image {
        width: 90%;
    }
       
    
      article:nth-child(even) img {
          grid-column: 1;
      }
      
      article:nth-child(even) info {
          grid-column: 2;
          grid-row: 1;
      }    

    p {
        padding: .75rem;
    }
}

/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 62rem) {

    .cw {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }


   
    div.cards {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 15px;   
        justify-content: center;
        align-items: center;

    }

    article {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
    }
    
    article:nth-child(-n+3) img {
        grid-column: 1;
        grid-row: 2;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    article:nth-child(-n+3) info {
        grid-column: 1;
        grid-row: 1;
    }    
   
 
} /*end large */