main {
    margin: 10px auto;
    width: 100%;
}

.gallery-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}

picture {
    display: block;
    padding: 0;
    margin-bottom: 20px;
    width: 100%;
    border: 1px #ccc solid;
}

picture img {
    filter: blur(0em);
    transition: filter 0.5s;
}

img {
    display: block;
    width: 100%;
}

span.caption {
    display: block;
    height: 30px;
    padding-left: 5px;
    margin-top: 10px;
}


@media only screen and (min-width: 35rem) {
    .gallery-container {
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
    }

}

@media only screen and (min-width: 60rem) {
    .gallery-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .norm:hover {
        box-shadow: 0 0 50px #333;
    }

}