/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

 
   
    header, nav, main, footer {
        max-width: 960px;
        margin: 0 auto;
    }

    section.hero {
        max-width: 1100px;
    }

    .city-img {
        max-width: 460px;
    }
 
} /*end large */