@media only screen and (min-width: 32.5em) {

    body {
        margin: 10px;
    }

    header {
        margin-bottom: 10px;
        border-radius: 10px 10px 0 0;
        padding: 5px;
    }

    .logo {
        max-width: 150px;
        margin-right: 20px;
    }

    h1 {font-size: 2em; margin: 35px 0;}
    h2 {font-size: 1.75em;}
    h3 {font-size: 1.5em; margin: 12px 0;}
    h4 {font-size: 1.2em;}



    nav {margin-bottom: 10px;}
    nav ul { display: flex; }
    nav ul li { flex: 1 1 100%; }

    main {
        font-size: 1rem;
        margin-bottom: 10px;
    }
 
    main header {
        display: block;
    }

    .container {
        grid-template-columns: 2fr 1fr;
        
    }

    main article {
        padding: 0 25px;
    }

    footer {
        border-radius: 0 0 10px 10px;
    }

}