body {
    font-family: 'Roboto', sans-serif;
    max-width: 1100px;
    margin: 0;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Carter One', cursive;
}

h2,
h3,
h4, 
h5 { color: #004F2A; text-align: center;}

header {
    background-color: #004F2A;
    color: #E5E059;
    padding: 5px;
 }

.logo {
    max-width: 65px;
    float: left;
    margin: 5px;
}

h1 {font-size: 1em; margin: 20px 0 10px 0;}
h2 {font-size: 1.1em; margin: 5px 0;}
h3 {font-size: 1em; margin: 5px 0 15px 0;}
h4 {font-size: .95em; margin: 15px 0 10px 0;}



/* nav formatting here */
nav {
background-color: #0F8EB3;
text-align: center;
box-shadow: 0 2px 15px gray;
padding: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul a {
    display: block;
    color: #000;
    text-align: center;
    padding: .75rem;
    text-decoration: none;
    font-size: .95rem;
    font-weight: bold;
}

.active {
    color: #E5E059;
}

nav a:hover {
    background: #E5E059;
    color: #E63946;
}

  
 
/*  main section formatting here */

main {
    background-color: #EEEBD0;
    padding: 10px 15px 30px 15px;
}

section {
    display: block;
    border-bottom: double #004F2A 6px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

main img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

li {line-height: 1.25em; }


/* footer formatting here */
footer { 
    background-color: #004F2A;
    color: #E5E059;
    text-align: center;
    padding: 10px;
    font-size: .75em;
    font-weight: bold;
    line-height: 1.5em;
}

footer a {color: #E5E059; text-decoration: underline;}
footer a:hover {color: #E63946;}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }